$rectangle: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.6742 21.9117L0.622458 28.8315L8.77465 0.585743L28.6742 21.9117Z' fill='white'/%3E%3C/svg%3E%0A");

.qfchat {
    &-welcome-msg {
        padding: 23px;
        box-sizing: border-box;
        width: fit-content;
        max-width: 334px;
        height: 68px;
        border-radius: 13px;
        box-shadow: 5px 4px 11px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 2;

        &::after {
            content: '';
            position: absolute;
            left: calc(100% - 20px);
            bottom: 2px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            display: block;
            width: 34px;
            height: 33px;
            background-image: $rectangle;
            z-index: 1;
        }

        &__text {
            font-weight: 500;
            font-size: 17.875px;
            line-height: 21px;
            min-width: 100%;
            white-space: nowrap;
        }

        &__wrapper {
            position: absolute;
            right: calc(100% + 20px);
            top: 0px;
            transition: opacity .2s ease-in;
        }
    }
}