$chat-icon: url("data:image/svg+xml,%3Csvg width='58' height='58' viewBox='0 0 58 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.99161 48.8127C6.37303 46.2009 4.29638 43.0974 2.88101 39.6805C1.46564 36.2636 0.739449 32.6007 0.744163 28.9023C0.744163 13.3507 13.3505 0.744385 28.9021 0.744385C44.4537 0.744385 57.06 13.3507 57.06 28.9023C57.06 44.4539 44.4537 57.0602 28.9021 57.0602H0.744163L8.99161 48.8127ZM17.6389 31.7181C17.6389 34.7052 18.8256 37.5701 20.9378 39.6823C23.0501 41.7946 25.9149 42.9812 28.9021 42.9812C31.8892 42.9812 34.7541 41.7946 36.8663 39.6823C38.9786 37.5701 40.1652 34.7052 40.1652 31.7181H17.6389Z' fill='white'/%3E%3C/svg%3E%0A");

.qfchat {
    &-btn {
        width: 48px;
        height: 48px;
        background-color: $blue;
        background-image: $chat-icon;
        background-size: 24px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        &.qfchat-btn-opened {
            background-image: $cross-icon;
        }
        &:hover {
            transform: scale(1.15);
        }
        &__wrapper {
            width: fit-content;
            height: fit-content;
            position: relative;
        }
    }
}