$send-icon: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.1634 10.5412C1.58965 10.3106 1.5964 9.96748 2.20165 9.76611L23.6734 2.60886C24.2685 2.41086 24.6094 2.74386 24.4429 3.32661L18.3071 24.7984C18.1384 25.3935 17.7728 25.4205 17.5005 24.8771L12.375 14.625L2.1634 10.5412ZM7.66465 10.3162L14.0051 12.8531L17.4251 19.6954L21.4144 5.73411L7.66352 10.3162H7.66465Z' fill='%231CA9DF'/%3E%3C/svg%3E%0A"); 
$send-icon-disabled: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.1634 10.5412C1.58965 10.3106 1.5964 9.96748 2.20165 9.76611L23.6734 2.60886C24.2685 2.41086 24.6094 2.74386 24.4429 3.32661L18.3071 24.7984C18.1384 25.3935 17.7728 25.4205 17.5005 24.8771L12.375 14.625L2.1634 10.5412ZM7.66465 10.3162L14.0051 12.8531L17.4251 19.6954L21.4144 5.73411L7.66352 10.3162H7.66465Z' fill='rgba(0,0,0,.2)'/%3E%3C/svg%3E%0A");

.qfchat-chat-input {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    &__input {
        width: 100%;
        border: none;
        word-break: break-word;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding: 0;
        resize: none;
        box-sizing: border-box;
        padding: 18px 22px;
        background-color: transparent;
        // min-height: 57px;
        &::placeholder {
            color: $gray4;
        }
        &:focus {
            border: none;
            outline: none;
            font-size: 1em;
            &::placeholder {
                opacity: 0;
            }
        }
        &:disabled {
            color: rgba(0,0,0, 0.1);
            &::placeholder {
                color: rgba(0,0,0, 0.1)
            }
        }

        &-wrapper {
            flex-basis: 100%;
        }
    }

    &__send-btn {
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: $send-icon;
        background-color: transparent;
        cursor: pointer;
        box-sizing: border-box;
        transform-origin: center;
        transform: translateY(50%);
        &.qfchat__send-btn-disabled {
            background-image: $send-icon-disabled;
            cursor: default;
            pointer-events: none;
        }

        &-wrapper {
            width: fit-content;
            height: fit-content;
            flex-basis: auto;
            min-height: 57px;
            margin-right: 22px;
        }
    }
}