$smile-icon: url("data:image/svg+xml,%3Csvg width='55' height='55' viewBox='0 0 55 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.8555 3.22266C13.8037 3.22266 3.22266 13.8037 3.22266 26.8555C3.22266 37.5906 11.3775 50.4883 26.8555 50.4883C39.9072 50.4883 50.4883 39.9072 50.4883 26.8555C50.4883 13.8037 39.9072 3.22266 26.8555 3.22266Z' fill='%23FFD46A'/%3E%3Cpath d='M27.0491 40.8311C22.0969 40.8311 17.5422 38.5537 14.8782 34.751C14.5344 34.2568 14.6526 33.5801 15.1467 33.2363C15.6409 32.8926 16.3176 33.0107 16.6614 33.5049C18.9172 36.7383 22.8059 38.6611 27.0491 38.6611C31.2922 38.6611 35.1809 36.7383 37.4368 33.5049C37.7805 33.0107 38.4573 32.8926 38.9514 33.2363C39.4456 33.5801 39.5637 34.2568 39.22 34.751C36.5559 38.5645 32.0012 40.8311 27.0491 40.8311Z' fill='%232C3C48'/%3E%3Cpath d='M18.0466 16.8008C17.821 16.8008 17.5954 16.7041 17.4343 16.5215C16.8112 15.8125 15.9089 15.415 14.9636 15.415C14.0183 15.415 13.1159 15.8232 12.4929 16.5215C12.1921 16.8652 11.6765 16.8867 11.3327 16.5967C10.989 16.2959 10.9568 15.7803 11.2575 15.4365C12.1921 14.3838 13.5456 13.7715 14.9636 13.7715C16.3816 13.7715 17.7351 14.373 18.6696 15.4365C18.9704 15.7803 18.9382 16.2959 18.5945 16.5967C18.4333 16.7256 18.24 16.8008 18.0466 16.8008ZM41.8513 16.79C41.6257 16.79 41.4001 16.6934 41.239 16.5107C40.6159 15.8018 39.7136 15.4043 38.7683 15.4043C37.823 15.4043 36.9206 15.8125 36.2976 16.5107C35.9968 16.8545 35.4812 16.876 35.1374 16.5752C34.7937 16.2744 34.7722 15.7588 35.0622 15.415C35.9968 14.3623 37.3503 13.75 38.7683 13.75C40.1862 13.75 41.5398 14.3516 42.4743 15.415C42.7751 15.7588 42.7429 16.2744 42.3991 16.5752C42.238 16.7256 42.0446 16.79 41.8513 16.79Z' fill='%23F2A84E'/%3E%3Cpath d='M18.4453 24.0518C17.79 22.5801 16.458 21.6563 14.954 21.6563C13.4609 21.6563 12.1181 22.5693 11.4628 24.0518C11.4199 24.1484 11.3984 24.2451 11.3876 24.3525C11.205 24.7822 11.291 25.2871 11.6562 25.6094C11.871 25.792 12.1288 25.8887 12.3867 25.8887C12.6874 25.8887 12.999 25.7598 13.2138 25.5127C13.6542 25.0186 14.288 24.7285 14.9648 24.7285C15.6308 24.7285 16.2753 25.0186 16.7158 25.5127C17.124 25.9639 17.8115 26.0068 18.2734 25.6094C18.6386 25.2871 18.7246 24.7715 18.5419 24.3525C18.5097 24.2451 18.4882 24.1484 18.4453 24.0518ZM42.3251 24.3418C42.3144 24.2451 42.2929 24.1377 42.2499 24.041C41.5947 22.5693 40.2626 21.6455 38.7587 21.6455C37.2656 21.6455 35.9228 22.5586 35.2675 24.041C35.2246 24.1377 35.2031 24.2344 35.1923 24.3418C35.0097 24.7715 35.0849 25.2764 35.4609 25.5986C35.6757 25.7813 35.9335 25.8779 36.1913 25.8779C36.4921 25.8779 36.8037 25.749 37.0185 25.502C37.4589 25.0078 38.0927 24.7178 38.7695 24.7178C39.4355 24.7178 40.08 25.0078 40.5205 25.502C40.9287 25.9531 41.6162 25.9961 42.0781 25.5986C42.4218 25.2871 42.5078 24.7715 42.3251 24.3418Z' fill='%232C3C48'/%3E%3C/svg%3E%0A");
$rectangle: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.6742 21.9117L0.622458 28.8315L8.77465 0.585743L28.6742 21.9117Z' fill='white'/%3E%3C/svg%3E%0A");

.qfchat-chat-messages {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-bottom: 25px;
    word-break: break-all;

    &__message {
        background-color: $white;
        // box-shadow: 5px 4px 11px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        padding: 17px 20px;
        margin-top: 16px;
        margin-right: 10px;
        margin-left: 60px;
        border-radius: 13px;
        position: relative;
        z-index: 2;
        font-size: 14px;
        line-height: 140%;
        font-weight: 400;
        &-user {
            background-color: $blue;
            color: $white;
            // &::after {
            //     content: '';
            //     position: absolute;
            //     left: calc(100% - 20px);
            //     bottom: 2px;
            //     background-repeat: no-repeat;
            //     background-position: center;
            //     background-size: auto;
            //     display: block;
            //     width: 34px;
            //     height: 33px;
            //     background-image: $rectangle;
            //     z-index: 1;
            // }
        }
        &-comp {
            margin-left: 45px;
            margin-right: 32px;
            &::before {
                content: '';
                display: block;
                width: 32px;
                height: 32px;
                aspect-ratio: 1/1;
                position: absolute;
                bottom: 0px;
                right: calc(100% + 5px);
                background-repeat: no-repeat;
                background-position: center;
                background-image: $smile-icon;
                background-size: contain;
            }
            // &:after {
            //     content: '';
            //     position: absolute;
            //     left: calc(-15px);
            //     transform: scaleX(-100%);
            //     bottom: 2px;
            //     background-repeat: no-repeat;
            //     background-position: center;
            //     background-size: auto;
            //     display: block;
            //     width: 34px;
            //     height: 33px;
            //     background-image: $rectangle;
            //     z-index: 1;
            // }
        }
        &-system {
            margin-left: 21px;
            div[data-formid] {
                min-height: 50px;
            }
        }
    }
}