$cross-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Ctitle/%3E%3Cg id='cross'%3E%3Cline class='cls-1' x1='7' x2='25' y1='7' y2='25'/%3E%3Cline class='cls-1' x1='7' x2='25' y1='25' y2='7'/%3E%3C/g%3E%3C/svg%3E");

@import 'https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;900&display=swap';  
          
@import './variables.scss';
@import './chat-btn.scss';
@import './chat-window.scss';
@import './chat-status-bar.scss';
@import './chat-input.scss';
@import './chat-messages.scss';
@import './chat-out-messages.scss';

button {
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

p {
    margin: 0;
}

div, p, span, button, input, textarea {
    font-family: 'Exo 2', sans-serif;
}

.qfchat {
    &__hidden {
        display: none;
    }

    &__invisible {
        visibility: hidden;
    }

    &__transparent {
        opacity: 0;
    }

    &__main-wrapper {
        width: fit-content;
        height: fit-content;
        position: fixed;
        bottom: 30px;
        right: 30px;
    } 
}

